.Formulario_ContactoPersonal {
    background: #FFF;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
}
.contacto {
    padding: .8rem;
    overflow: hidden;
    color: rgb(14, 13, 13);
  }
  
  .contacto label, .contacto input, .contacto textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;  
  }
  
  .contacto label {
    font-weight: 300;
  }
  
  .contacto input:not([type='submit']), .contacto textarea {
    border: none;
    border-bottom: 1px solid #111111;
    margin-bottom: 5px;
    font-size: 10px;
    outline: none;
    color: rgb(14, 13, 13);
  }
  
  .contacto textarea {
    min-height: 50px;
  }
  
  input[type='submit'] {
    padding: 10px;
    background: #4d4c4c;
    border: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
  
  }