@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body{
    font-family: 'Barlow Condensed', sans-serif;
    min-height: 100%;
    position: relative;
}

.container{
    display:grid;
    grid-template-areas:    "nombre nombre nombre nombre"
                            "fotoCV expectativas expectativas contacto"
                            "datos experiencia experiencia contacto"
                            "indice titulos titulos  contacto"
                            "footer footer footer footer";
    grid-gap: 20px;
    height: 100vh;
    font-size: 100%;
}

.nombre {
    grid-area: nombre;
    font-size: 4rem;
    font-family: 'Barlow Condensed', sans-serif;
    justify-content: center;
}

.fotoCV {
    grid-area: fotoCV;
    justify-content: center;   
    width: 100%;
}

.expectativas {
    grid-area: expectativas;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
    text-align: center;
    justify-content: center;
}

.indice {
    grid-area: indice;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
    text-align: left;
    justify-content: center;
}

.titulos {
    grid-area: titulos;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
    text-align: left;
    justify-content: center;
}

.datos {
    grid-area: datos;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
    text-align: left;
    justify-content: center;
}

.experiencia {
    grid-area: experiencia;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
    text-align: center;
    justify-content: center;
}

.contacto {
    grid-area: contacto;
    justify-content: space-around;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 100%;
    text-align: left;
    justify-content: center;
}

.footer {
    grid-area: footer;
    display: inline;
    /**position: absolute;*/
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    
}

 